In [1]:
# import libraries
import pandas as pd
import numpy as np
import datetime
from sqlalchemy import create_engine

import matplotlib.pyplot as plt
import seaborn as sns
%config InlineBackend.figure_formats = ['svg']  # or retina
%matplotlib inline

sns.set(context='notebook', 
    style='whitegrid', 
    font_scale=1.1)

In [2]:
def get_data(week_nums):
    url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt"
    dfs = []
    for week_num in week_nums:
        file_url = url.format(week_num)
        dfs.append(pd.read_csv(file_url))
    return pd.concat(dfs)
        
week_nums = [210109, 210116, 210123, 210130,
             210206, 210213, 210220, 210227, 
             210306, 210313, 210320, 210327,
             210403]
turnstiles_df = get_data(week_nums)

In [3]:
#converting the above data into one big csv file
#turnstiles_df.to_csv('mta_data_all.csv', header = False, index = False)

In [4]:
# SQLAlchemy connecting mta.db with python
#engine = create_engine("sqlite:///mta.db")
#all_data = pd.read_sql('SELECT * FROM mta_data;', engine)
#all_data.head()

In [5]:
#turnstiles_df["DATE"]

In [6]:
turnstiles_df["DATE_TIME"] = pd.to_datetime(turnstiles_df.DATE + " " + turnstiles_df.TIME,
                                            format="%m/%d/%Y %H:%M:%S")
turnstiles_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2021,03:00:00,REGULAR,7511653,2558871,2021-01-02 03:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2021,07:00:00,REGULAR,7511655,2558877,2021-01-02 07:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2021,11:00:00,REGULAR,7511677,2558930,2021-01-02 11:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2021,15:00:00,REGULAR,7511766,2558968,2021-01-02 15:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2021,19:00:00,REGULAR,7511912,2558999,2021-01-02 19:00:00

In [7]:
# Sanity Check to verify that "C/A", "UNIT", "SCP", "STATION", "DATE_TIME" is unique
#(turnstiles_df
# .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])
# .ENTRIES.count()
# .reset_index()
# .sort_values("ENTRIES", ascending=False)).head(5)

In [8]:
#turnstiles_df.DESC.value_counts() #check number of RECOVR AUD

In [9]:
# Get rid of the duplicate entry
turnstiles_df.sort_values(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], 
                          inplace=True, ascending=False)
turnstiles_df.drop_duplicates(subset=["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], inplace=True)

In [10]:
turnstiles_df = turnstiles_df.drop(["EXITS", "DESC"], axis=1, errors="ignore")
turnstiles_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,ENTRIES,EXITS,DATE_TIME
209067,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/02/2021,21:00:00,5554,544,2021-04-02 21:00:00
209066,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/02/2021,17:00:00,5554,544,2021-04-02 17:00:00
209065,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/02/2021,13:00:00,5554,544,2021-04-02 13:00:00
209064,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/02/2021,09:00:00,5554,544,2021-04-02 09:00:00
209063,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/02/2021,05:00:00,5554,544,2021-04-02 05:00:00

In [11]:
turnstiles_daily = (turnstiles_df
                        .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE"],as_index=False)
                        .ENTRIES.first())
turnstiles_daily

          C/A  UNIT       SCP        STATION        DATE  ENTRIES
0        A002  R051  02-00-00          59 ST  01/02/2021  7511996
1        A002  R051  02-00-00          59 ST  01/03/2021  7512214
2        A002  R051  02-00-00          59 ST  01/04/2021  7512754
3        A002  R051  02-00-00          59 ST  01/05/2021  7513300
4        A002  R051  02-00-00          59 ST  01/06/2021  7513790
...       ...   ...       ...            ...         ...      ...
454004  TRAM2  R469  00-05-01  RIT-ROOSEVELT  03/29/2021     5554
454005  TRAM2  R469  00-05-01  RIT-ROOSEVELT  03/30/2021     5554
454006  TRAM2  R469  00-05-01  RIT-ROOSEVELT  03/31/2021     5554
454007  TRAM2  R469  00-05-01  RIT-ROOSEVELT  04/01/2021     5554
454008  TRAM2  R469  00-05-01  RIT-ROOSEVELT  04/02/2021     5554

[454009 rows x 6 columns]

In [12]:
turnstiles_daily[["PREV_DATE", "PREV_ENTRIES"]] = (turnstiles_daily
                                                    .groupby(["C/A", "UNIT", "SCP", "STATION"])[["DATE", "ENTRIES"]]
                                                    .shift(1))
turnstiles_daily.head()

    C/A  UNIT       SCP STATION        DATE  ENTRIES   PREV_DATE  PREV_ENTRIES
0  A002  R051  02-00-00   59 ST  01/02/2021  7511996         NaN           NaN
1  A002  R051  02-00-00   59 ST  01/03/2021  7512214  01/02/2021     7511996.0
2  A002  R051  02-00-00   59 ST  01/04/2021  7512754  01/03/2021     7512214.0
3  A002  R051  02-00-00   59 ST  01/05/2021  7513300  01/04/2021     7512754.0
4  A002  R051  02-00-00   59 ST  01/06/2021  7513790  01/05/2021     7513300.0

In [13]:
turnstiles_daily.dropna(subset=["PREV_DATE"], axis=0, inplace=True)

In [14]:
(turnstiles_daily[turnstiles_daily["ENTRIES"] < turnstiles_daily["PREV_ENTRIES"]]
    .groupby(["C/A", "UNIT", "SCP", "STATION"])
    .size())

C/A   UNIT  SCP       STATION
A002  R051  02-03-02  59 ST               1
A011  R080  01-03-00  57 ST-7 AV         90
            01-03-01  57 ST-7 AV          1
A025  R023  01-06-00  34 ST-HERALD SQ     1
A031  R083  00-00-01  23 ST               1
                                         ..
R622  R123  00-00-00  FRANKLIN AV        89
R624  R124  00-00-02  KINGSTON AV         1
R627  R063  00-03-02  SUTTER AV-RUTLD     1
R730  R431  00-00-04  EASTCHSTER/DYRE    90
S101  R070  00-00-04  ST. GEORGE          1
Length: 205, dtype: int64

In [15]:
def get_daily_counts(row, max_counter):
    counter = row["ENTRIES"] - row["PREV_ENTRIES"]
    
    if counter < 0:
        counter = -counter  # adjust for "reverse" counter
        
    if counter > max_counter:
        # Maybe counter was reset, so it may make sense to take the minimum
        print(f'entries: {row["ENTRIES"]} <-- {row["PREV_ENTRIES"]}')
        counter = min(row["ENTRIES"], row["PREV_ENTRIES"])
        
    if counter > max_counter:
        # If we still get a counter that is too big, set to zero
        return 0
    
    return counter

turnstiles_daily["DAILY_ENTRIES"] = turnstiles_daily.apply(get_daily_counts, axis=1, max_counter=1000000)

entries: 238 <-- 6641395.0
entries: 52806 <-- 17116894.0
entries: 117 <-- 11715665.0
entries: 198 <-- 5102094.0
entries: 327680 <-- 185586773.0
entries: 169 <-- 2172444.0
entries: 127 <-- 1657032.0
entries: 80 <-- 1640812.0
entries: 327834 <-- 2642486.0
entries: 16796392 <-- 123975.0
entries: 453044031 <-- 1779426.0
entries: 262272 <-- 2255518.0
entries: 393225 <-- 7714275.0
entries: 57 <-- 2028804.0
entries: 16712028 <-- 6294957.0
entries: 177 <-- 16712669.0
entries: 262144 <-- 33554713.0
entries: 394 <-- 2773389.0
entries: 106 <-- 67960951.0
entries: 147 <-- 11567738.0
entries: 1950 <-- 13809288.0
entries: 54 <-- 7903750.0
entries: 2293788 <-- 4259642.0
entries: 471 <-- 1377273.0
entries: 248 <-- 827160459.0
entries: 0 <-- 67108864.0
entries: 47 <-- 2514854.0
entries: 1376376 <-- 8181460.0
entries: 420 <-- 4343900.0
entries: 262297 <-- 1566066.0
entries: 23157312 <-- 1627480738.0
entries: 35 <-- 10195434.0
entries: 702 <-- 3651815.0
entries: 697 <-- 13204039.0
entries: 262152 <-- 67112607.0
entries: 191 <-- 2811568.0
entries: 647 <-- 239666917.0
entries: 262144 <-- 537268042.0
entries: 262185 <-- 67617764.0
entries: 494 <-- 1930690.0
entries: 33030166 <-- 42.0
entries: 165 <-- 11883611.0
entries: 44 <-- 9855012.0
entries: 262296 <-- 8864207.0
entries: 15439231 <-- 6237114.0
entries: 338 <-- 15440422.0
entries: 436 <-- 1721769.0
entries: 126 <-- 1965830.0
entries: 79 <-- 1663686.0
entries: 72 <-- 2101534.0
entries: 15 <-- 1571402.0
entries: 85 <-- 4001974.0
entries: 36 <-- 1380657.0
entries: 315 <-- 2844675.0
entries: 688 <-- 141769497.0
entries: 738431481 <-- 53263405.0
entries: 53237519 <-- 738434610.0
entries: 73220297 <-- 1560551488.0
entries: 145 <-- 37879542.0
entries: 499 <-- 1278035.0
entries: 632 <-- 4266134.0
entries: 119 <-- 1208346.0
entries: 104 <-- 11667763.0
entries: 577 <-- 11839228.0

In [16]:
turnstiles_daily.DAILY_ENTRIES.describe()

count    448972.000000
mean        350.307641
std        6024.213610
min           0.000000
25%          51.000000
50%         189.000000
75%         398.000000
max      984026.000000
Name: DAILY_ENTRIES, dtype: float64

In [17]:
# daily entries for each station
station_daily = turnstiles_daily.groupby(["STATION", "DATE"])[['DAILY_ENTRIES']].sum().reset_index()
station_daily

         STATION        DATE  DAILY_ENTRIES
0           1 AV  01/03/2021         2547.0
1           1 AV  01/04/2021         5303.0
2           1 AV  01/05/2021         5468.0
3           1 AV  01/06/2021         5603.0
4           1 AV  01/07/2021         5665.0
...          ...         ...            ...
34004  ZEREGA AV  03/29/2021         1012.0
34005  ZEREGA AV  03/30/2021         1093.0
34006  ZEREGA AV  03/31/2021         1011.0
34007  ZEREGA AV  04/01/2021         1051.0
34008  ZEREGA AV  04/02/2021          863.0

[34009 rows x 3 columns]

In [18]:
# total ridership for unique station
station_total = station_daily.groupby('STATION')['DAILY_ENTRIES'].sum() \
    .reset_index() \
    .sort_values('DAILY_ENTRIES', ascending=False)
station_total

             STATION  DAILY_ENTRIES
59   34 ST-HERALD SQ      3004542.0
61    34 ST-PENN STA      2889380.0
0               1 AV      2688395.0
233  GRD CNTRL-42 ST      2563142.0
352   TIMES SQ-42 ST      2398335.0
..               ...            ...
332  ROCKAWAY PARK B        19737.0
148      BEACH 98 ST         9852.0
162    BROAD CHANNEL         7612.0
300     NEWARK HM HE         4800.0
141     BEACH 105 ST         4374.0

[378 rows x 2 columns]

In [19]:
#plt.figure(figsize=(10,8))
#plt.plot(station_total["STATION"], station_total["DAILY_ENTRIES"])
#plt.xlabel('Stations')
#plt.ylabel('Daily Entries')
#plt.xticks(rotation=45)
#plt.title('Total Ridership for each unique Station');

In [20]:
#plt.figure(figsize=(10,8))
#plt.plot(station_total["STATION"][0:10], station_total["DAILY_ENTRIES"][0:10])
#plt.xlabel('Stations')
#plt.ylabel('Daily Entries')
#plt.xticks(rotation=45)
#plt.title('Total Ridership for top 10 Station');

In [21]:
###########################################################

In [22]:
turnstiles_df.sort_values(by = ["DATE", "DATE_TIME"], ascending=[False, False], inplace=True)
turnstiles_df

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,ENTRIES,EXITS,DATE_TIME
120528,PTH05,R543,00-00-03,EXCHANGE PLACE,1,PTH,04/02/2021,23:59:10,402685,85964,2021-04-02 23:59:10
119768,PTH04,R551,00-00-03,GROVE STREET,1,PTH,04/02/2021,23:59:09,10526,80481,2021-04-02 23:59:09
122762,PTH10,R547,00-00-03,9TH STREET,1,PTH,04/02/2021,23:58:16,50423,172030,2021-04-02 23:58:16
122522,PTH09,R548,00-00-01,CHRISTOPHER ST,1,PTH,04/02/2021,23:57:14,684655,557364,2021-04-02 23:57:14
119019,PTH03,R552,00-00-0A,JOURNAL SQUARE,1,PTH,04/02/2021,23:56:54,65685,961453,2021-04-02 23:56:54
...,...,...,...,...,...,...,...,...,...,...,...
5072,A033,R170,02-00-04,14 ST-UNION SQ,LNQR456W,BMT,01/02/2021,00:00:00,6914262,5399776,2021-01-02 00:00:00
5031,A033,R170,02-00-03,14 ST-UNION SQ,LNQR456W,BMT,01/02/2021,00:00:00,7507785,8870432,2021-01-02 00:00:00
4990,A033,R170,02-00-02,14 ST-UNION SQ,LNQR456W,BMT,01/02/2021,00:00:00,15196697,14786305,2021-01-02 00:00:00
4949,A033,R170,02-00-01,14 ST-UNION SQ,LNQR456W,BMT,01/02/2021,00:00:00,2581423,3160949,2021-01-02 00:00:00
4908,A033,R170,02-00-00,14 ST-UNION SQ,LNQR456W,BMT,01/02/2021,00:00:00,360234,1138583,2021-01-02 00:00:00

In [23]:
#def commute_interval(DATE_TIME):
#    if DATE_TIME.hour >=0 and DATE_TIME.hour < 4:
#        return '00:00-04:00'
#    elif DATE_TIME.hour >= 4 and DATE_TIME.hour < 8:
#        return '04:00-08:00'
#    elif DATE_TIME.hour >= 8 and DATE_TIME.hour < 12:
#        return '08:00-12:00'
#    elif DATE_TIME.hour >= 12 and DATE_TIME.hour < 16:
#        return '12:00-16:00'
#    elif DATE_TIME.hour >= 16 and DATE_TIME.hour < 20:
#        return '16:00-20:00'
#    elif DATE_TIME.hour >= 20 and DATE_TIME.hour < 24:
#        return '20:00-24:00'
#    else:
#        return 'GO HOME'

In [27]:
def commute_interval(DATE_TIME):
    if DATE_TIME.hour >= 6 and DATE_TIME.hour < 14:
        return '06:00-14:00'
    elif DATE_TIME.hour >= 14 and DATE_TIME.hour < 22:
        return '14:00-22:00'
    elif DATE_TIME.hour >= 22 and DATE_TIME.hour < 24:
        return '22:00-06:00'
    elif DATE_TIME.hour >= 0 and DATE_TIME.hour < 6:
        return '22:00-06:00'
    else:
        return 'GO HOME'

In [28]:
# .apply the created function above
turnstiles_df['INTERVAL'] = turnstiles_df.DATE_TIME.apply(commute_interval)

In [29]:
turnstiles_df

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,ENTRIES,EXITS,DATE_TIME,INTERVAL
120528,PTH05,R543,00-00-03,EXCHANGE PLACE,1,PTH,04/02/2021,23:59:10,402685,85964,2021-04-02 23:59:10,22:00-06:00
119768,PTH04,R551,00-00-03,GROVE STREET,1,PTH,04/02/2021,23:59:09,10526,80481,2021-04-02 23:59:09,22:00-06:00
122762,PTH10,R547,00-00-03,9TH STREET,1,PTH,04/02/2021,23:58:16,50423,172030,2021-04-02 23:58:16,22:00-06:00
122522,PTH09,R548,00-00-01,CHRISTOPHER ST,1,PTH,04/02/2021,23:57:14,684655,557364,2021-04-02 23:57:14,22:00-06:00
119019,PTH03,R552,00-00-0A,JOURNAL SQUARE,1,PTH,04/02/2021,23:56:54,65685,961453,2021-04-02 23:56:54,22:00-06:00
...,...,...,...,...,...,...,...,...,...,...,...,...
5072,A033,R170,02-00-04,14 ST-UNION SQ,LNQR456W,BMT,01/02/2021,00:00:00,6914262,5399776,2021-01-02 00:00:00,22:00-06:00
5031,A033,R170,02-00-03,14 ST-UNION SQ,LNQR456W,BMT,01/02/2021,00:00:00,7507785,8870432,2021-01-02 00:00:00,22:00-06:00
4990,A033,R170,02-00-02,14 ST-UNION SQ,LNQR456W,BMT,01/02/2021,00:00:00,15196697,14786305,2021-01-02 00:00:00,22:00-06:00
4949,A033,R170,02-00-01,14 ST-UNION SQ,LNQR456W,BMT,01/02/2021,00:00:00,2581423,3160949,2021-01-02 00:00:00,22:00-06:00
4908,A033,R170,02-00-00,14 ST-UNION SQ,LNQR456W,BMT,01/02/2021,00:00:00,360234,1138583,2021-01-02 00:00:00,22:00-06:00

In [30]:
turnstiles_interval = (turnstiles_df
                        .groupby(["STATION", "DATE", "INTERVAL"],as_index=False)
                        .ENTRIES.first())

In [31]:
turnstiles_interval[["PREV_DATE", "PREV_ENTRIES"]] = (turnstiles_interval
                                                       .groupby(["STATION", "INTERVAL"])[["DATE", "ENTRIES"]]
                                                       .shift(1))

In [32]:
turnstiles_interval.tail(10)

          STATION        DATE     INTERVAL  ENTRIES   PREV_DATE  PREV_ENTRIES
103127  ZEREGA AV  03/30/2021  22:00-06:00       39  03/29/2021          39.0
103128  ZEREGA AV  03/31/2021  06:00-14:00       39  03/30/2021          39.0
103129  ZEREGA AV  03/31/2021  14:00-22:00       39  03/30/2021          39.0
103130  ZEREGA AV  03/31/2021  22:00-06:00       39  03/30/2021          39.0
103131  ZEREGA AV  04/01/2021  06:00-14:00       39  03/31/2021          39.0
103132  ZEREGA AV  04/01/2021  14:00-22:00       39  03/31/2021          39.0
103133  ZEREGA AV  04/01/2021  22:00-06:00       39  03/31/2021          39.0
103134  ZEREGA AV  04/02/2021  06:00-14:00       39  04/01/2021          39.0
103135  ZEREGA AV  04/02/2021  14:00-22:00       39  04/01/2021          39.0
103136  ZEREGA AV  04/02/2021  22:00-06:00       39  04/01/2021          39.0

In [33]:
# check how many rows exists for ENTRIES = PREV_ENTRIES
#turnstiles_interval[turnstiles_interval["ENTRIES"] == turnstiles_interval["PREV_ENTRIES"]]

In [34]:
# check why the NaN value appears below after shift for 01/02/2021
#turnstiles_interval[turnstiles_interval["DATE"] == "01/02/2021"]

In [35]:
# Drop the rows for the earliest date in the df
turnstiles_interval.dropna(subset=["PREV_DATE"], axis=0, inplace=True)

In [36]:
# check number of ENTRIES that are reversed
#turnstiles_interval[turnstiles_interval["ENTRIES"] < turnstiles_interval["PREV_ENTRIES"]].shape

# Take care of Reverse Entries

In [37]:
turnstiles_interval[turnstiles_interval["ENTRIES"] < turnstiles_interval["PREV_ENTRIES"]].head()

    STATION        DATE     INTERVAL     ENTRIES   PREV_DATE  PREV_ENTRIES
243    1 AV  03/24/2021  06:00-14:00      251333  03/23/2021  5.243110e+05
253    1 AV  03/27/2021  14:00-22:00      254999  03/26/2021  5.243110e+05
822  104 ST  01/03/2021  06:00-14:00  1681063253  01/02/2021  1.681063e+09
823  104 ST  01/03/2021  14:00-22:00  1681063245  01/02/2021  1.681063e+09
824  104 ST  01/03/2021  22:00-06:00  1681063243  01/02/2021  1.681063e+09

In [38]:
# See how many stations have this problem
(turnstiles_interval[turnstiles_interval["ENTRIES"] < turnstiles_interval["PREV_ENTRIES"]]
    .groupby(["STATION"])
    .size())

STATION
1 AV                 2
104 ST             269
110 ST               1
111 ST               1
116 ST               3
                  ...
VERNON-JACKSON       1
WALL ST              5
WOODHAVEN BLVD       3
WORLD TRADE CTR      3
WTC-CORTLANDT        1
Length: 138, dtype: int64

In [39]:
def get_daily_counts2(row, max_counter):
    counter = row["ENTRIES"] - row["PREV_ENTRIES"]
    
    if counter < 0:
        counter = -counter  # adjust for "reverse" counter
        
    if counter > max_counter:
        # Maybe counter was reset, so it may make sense to take the minimum
        print(f'entries: {row["ENTRIES"]} <-- {row["PREV_ENTRIES"]}')
        counter = min(row["ENTRIES"], row["PREV_ENTRIES"])
        
    if counter > max_counter:
        # If we still get a counter that is too big, set to zero
        return 0
    
    return counter

turnstiles_interval["DAILY_ENTRIES"] = turnstiles_interval.apply(get_daily_counts2, axis=1, max_counter=1000000)

entries: 14639404 <-- 5744113.0
entries: 5751244 <-- 14652356.0
entries: 14653327 <-- 5751244.0
entries: 703188 <-- 5298052.0
entries: 201306 <-- 3144560.0
entries: 3144928 <-- 201306.0
entries: 208893 <-- 3151757.0
entries: 3152463 <-- 208893.0
entries: 217038 <-- 3159212.0
entries: 3159770 <-- 217038.0
entries: 245705752 <-- 7641461.0
entries: 245745624 <-- 5024821.0
entries: 6849058 <-- 1772029.0
entries: 1772097 <-- 6849058.0
entries: 1773744 <-- 6856482.0
entries: 485226 <-- 6780120.0
entries: 6780569 <-- 485226.0
entries: 4264422 <-- 7389.0
entries: 6311154 <-- 1477042.0
entries: 16688342 <-- 0.0
entries: 0 <-- 16688342.0
entries: 155607 <-- 5103798.0
entries: 3016840 <-- 6168471.0
entries: 3016885 <-- 6168516.0
entries: 6168736 <-- 3016840.0
entries: 6168754 <-- 3016896.0
entries: 0 <-- 1221578.0
entries: 1223667 <-- 0.0
entries: 1753422 <-- 68064774.0
entries: 1753694 <-- 68064847.0
entries: 68064941 <-- 1753387.0
entries: 589824 <-- 6037484.0
entries: 589824 <-- 6037655.0
entries: 6037862 <-- 589824.0
entries: 1633899 <-- 5851776.0
entries: 5853310 <-- 1633899.0
entries: 1634967 <-- 5852810.0
entries: 5855261 <-- 1634967.0
entries: 1103988 <-- 83994.0
entries: 84735 <-- 1103988.0
entries: 1926474 <-- 10564017.0
entries: 10564508 <-- 1926474.0
entries: 1027241 <-- 10564414.0
entries: 10564894 <-- 1027241.0
entries: 1040626 <-- 10579043.0
entries: 1040776 <-- 10579204.0
entries: 453044025 <-- 1779424.0
entries: 453044031 <-- 1779426.0
entries: 453044035 <-- 1779427.0
entries: 16796449 <-- 453044454.0
entries: 453044486 <-- 16796449.0
entries: 16796526 <-- 453045114.0
entries: 453045183 <-- 16796526.0
entries: 21825859 <-- 4155696.0
entries: 4156255 <-- 21825859.0
entries: 3409856 <-- 2035335.0
entries: 2035993 <-- 3409856.0
entries: 2 <-- 2582646.0
entries: 2584649 <-- 2.0
entries: 12376480 <-- 10240898.0
entries: 262570 <-- 1631280.0
entries: 262614 <-- 1631674.0
entries: 1633834 <-- 262917.0
entries: 1634067 <-- 262962.0
entries: 63568 <-- 1657734.0
entries: 63834 <-- 1658153.0
entries: 1658947 <-- 63568.0
entries: 1659151 <-- 63834.0
entries: 1659211 <-- 268794.0
entries: 20971 <-- 69015358.0
entries: 69015733 <-- 20971.0
entries: 27989 <-- 69020260.0
entries: 69020645 <-- 27989.0
entries: 589083 <-- 2910885.0
entries: 2911049 <-- 589083.0
entries: 589903 <-- 2911507.0
entries: 2911628 <-- 589903.0
entries: 2913541 <-- 428388.0
entries: 3941825 <-- 524288.0
entries: 3942113 <-- 458844.0
entries: 3941849 <-- 524288.0
entries: 646377384 <-- 12083958.0
entries: 1743764 <-- 117440512.0
entries: 1743765 <-- 117440512.0
entries: 117440512 <-- 1743764.0
entries: 117440512 <-- 1743765.0
entries: 117440682 <-- 0.0
entries: 0 <-- 117440682.0
entries: 109 <-- 1657020.0
entries: 127 <-- 1657032.0
entries: 243 <-- 1657112.0
entries: 134422237 <-- 1325334866.0
entries: 1325334828 <-- 134422237.0
entries: 8280582 <-- 154132025.0
entries: 8280715 <-- 154132192.0
entries: 8280732 <-- 154132225.0
entries: 154134158 <-- 8280582.0
entries: 154134279 <-- 8280715.0
entries: 154134307 <-- 8280732.0
entries: 2415106 <-- 1.0
entries: 409 <-- 2415106.0
entries: 740476 <-- 2024464.0
entries: 3170229 <-- 1611168.0
entries: 1612372 <-- 3170229.0
entries: 16259206 <-- 193235.0
entries: 193525 <-- 16259206.0
entries: 1572801 <-- 11177220.0
entries: 11178987 <-- 1572801.0
entries: 11180675 <-- 1576789.0
entries: 1473794 <-- 465223.0
entries: 24970 <-- 1245213.0
entries: 1245430 <-- 24970.0
entries: 1246178 <-- 12390.0
entries: 1246569 <-- 25177.0
entries: 1247345 <-- 12837.0
entries: 1248554 <-- 13221.0
entries: 25737 <-- 1249089.0
entries: 1249748 <-- 13683.0
entries: 1250058 <-- 13828.0
entries: 1250927 <-- 13938.0
entries: 1251433 <-- 14165.0
entries: 1252061 <-- 26178.0
entries: 1252760 <-- 14618.0
entries: 1253997 <-- 15213.0
entries: 1255459 <-- 15702.0
entries: 16019 <-- 1255923.0
entries: 1256408 <-- 16019.0
entries: 1256978 <-- 16304.0
entries: 1258639 <-- 17008.0
entries: 1259582 <-- 17299.0
entries: 1261094 <-- 17961.0
entries: 28840 <-- 1261094.0
entries: 1262704 <-- 18621.0
entries: 856358925 <-- 1.0
entries: 2270870 <-- 151851775.0
entries: 1960986 <-- 3.0
entries: 3 <-- 1960986.0
entries: 1 <-- 2250272.0
entries: 1 <-- 2250791.0
entries: 82 <-- 2250906.0
entries: 2267284 <-- 1.0
entries: 1 <-- 2267284.0
entries: 583519 <-- 4182149.0
entries: 4182403 <-- 583519.0
entries: 2172634 <-- 1837.0
entries: 262144 <-- 2173495.0
entries: 8018856 <-- 262144.0
entries: 0 <-- 7959848.0
entries: 7960466 <-- 0.0
entries: 2419356 <-- 458753.0
entries: 458753 <-- 2419356.0
entries: 2424422 <-- 458753.0
entries: 458753 <-- 2424422.0
entries: 67108864 <-- 11229225.0
entries: 11230050 <-- 67108864.0
entries: 45 <-- 67108864.0
entries: 0 <-- 67108864.0
entries: 0 <-- 11250546.0
entries: 6134191 <-- 369839.0
entries: 370844 <-- 6134191.0
entries: 55503230 <-- 6080843.0
entries: 6082507 <-- 55503230.0
entries: 1699668 <-- 11587660.0
entries: 11588773 <-- 1699668.0
entries: 0 <-- 1736164.0
entries: 0 <-- 683737068.0
entries: 683737068 <-- 0.0
entries: 0 <-- 683737068.0
entries: 683737068 <-- 0.0
entries: 683737068 <-- 0.0
entries: 0 <-- 683737068.0
entries: 683737068 <-- 0.0
entries: 3284827 <-- 18951831.0
entries: 18954005 <-- 3284827.0
entries: 19016284 <-- 3295646.0
entries: 41806 <-- 2567291.0
entries: 22271288 <-- 458752.0
entries: 458752 <-- 22271288.0
entries: 0 <-- 8276950.0
entries: 8277825 <-- 0.0
entries: 0 <-- 8303337.0
entries: 8303941 <-- 0.0
entries: 0 <-- 8314245.0
entries: 8315609 <-- 0.0
entries: 1654862 <-- 3.0
entries: 1654752 <-- 3.0
entries: 3 <-- 1654862.0
entries: 3 <-- 1654752.0
entries: 694956 <-- 4295519.0
entries: 9700493 <-- 11818194.0
entries: 11819274 <-- 9700493.0
entries: 9711903 <-- 11839228.0
entries: 90 <-- 11839228.0
entries: 511 <-- 11839228.0
entries: 577 <-- 9711903.0
entries: 1962615776 <-- 8411685.0
entries: 8412055 <-- 1962615776.0
entries: 6 <-- 4942417.0
entries: 4943163 <-- 6.0
entries: 6 <-- 4943163.0
entries: 4943571 <-- 6.0
entries: 637567667 <-- 100719128.0
entries: 637567689 <-- 100719128.0
entries: 637567696 <-- 100719128.0
entries: 1504672 <-- 85776.0
entries: 86300 <-- 1504672.0
entries: 1505240 <-- 92431.0
entries: 93016 <-- 1505240.0
entries: 1299801 <-- 196612.0
entries: 1299855 <-- 196613.0
entries: 1299855 <-- 196613.0
entries: 72 <-- 1299801.0
entries: 72 <-- 1299855.0
entries: 72 <-- 1299855.0
entries: 100663296 <-- 825348.0
entries: 825830 <-- 100663296.0
entries: 100663296 <-- 829668.0
entries: 830274 <-- 100663296.0
entries: 9308759 <-- 1558050.0
entries: 1559532 <-- 9308759.0
entries: 2536600 <-- 9142.0
entries: 9754 <-- 2536600.0
entries: 2537665 <-- 10140.0
entries: 10455 <-- 2537665.0
entries: 2547678 <-- 16681.0
entries: 17263 <-- 2547678.0
entries: 2187 <-- 1281929.0
entries: 1282792 <-- 2187.0
entries: 150997053 <-- 0.0
entries: 0 <-- 150997053.0
entries: 18298698 <-- 0.0
entries: 150997056 <-- 0.0
entries: 150997056 <-- 0.0
entries: 150997056 <-- 18298698.0
entries: 0 <-- 150997056.0
entries: 0 <-- 150997056.0
entries: 0 <-- 150997056.0
entries: 103675022 <-- 5462403.0
entries: 5463278 <-- 103675022.0
entries: 67226034 <-- 343561.0
entries: 343831 <-- 67226034.0
entries: 348116 <-- 3833188.0
entries: 15914939 <-- 14.0
entries: 14 <-- 15914939.0
entries: 4717359 <-- 493541.0
entries: 4717376 <-- 493542.0
entries: 493568 <-- 4717359.0
entries: 493571 <-- 4717376.0
entries: 1006855340 <-- 1.0
entries: 1 <-- 1006855340.0
entries: 11299346 <-- 7667432.0
entries: 7668885 <-- 11299346.0
entries: 11316359 <-- 7717720.0
entries: 7718934 <-- 11316359.0
entries: 11317826 <-- 7720990.0
entries: 7721631 <-- 11317826.0
entries: 57 <-- 2467583.0
entries: 288 <-- 2468228.0
entries: 79 <-- 2467632.0
entries: 5258464 <-- 9085896.0
entries: 10 <-- 9086829.0
entries: 9086900 <-- 5258464.0
entries: 9088195 <-- 10.0
entries: 2446497 <-- 686921.0
entries: 687189 <-- 2446497.0
entries: 6579789 <-- 102740709.0
entries: 102741553 <-- 6579789.0
entries: 2 <-- 102762575.0
entries: 102763434 <-- 2.0
entries: 7406855 <-- 1599269.0
entries: 6416994 <-- 1441258.0
entries: 1441973 <-- 6416994.0
entries: 95843 <-- 1708807.0
entries: 1708811 <-- 95843.0
entries: 8569571 <-- 1708811.0
entries: 1708811 <-- 8569571.0
entries: 1452223 <-- 27546.0
entries: 4786561 <-- 209622.0
entries: 210415 <-- 4786561.0
entries: 210442 <-- 1455668.0

In [40]:
turnstiles_interval.DAILY_ENTRIES.describe()

count    102003.000000
mean       8299.298805
std       54303.510636
min           0.000000
25%          23.000000
50%         230.000000
75%         510.000000
max      979742.000000
Name: DAILY_ENTRIES, dtype: float64

In [41]:
turnstiles_interval

,STATION,DATE,INTERVAL,ENTRIES,PREV_DATE,PREV_ENTRIES,DAILY_ENTRIES
3,1 AV,01/03/2021,06:00-14:00,182142,01/02/2021,181552.0,590.0
4,1 AV,01/03/2021,14:00-22:00,182400,01/02/2021,181906.0,494.0
5,1 AV,01/03/2021,22:00-06:00,182474,01/02/2021,182054.0,420.0
6,1 AV,01/04/2021,06:00-14:00,182668,01/03/2021,182142.0,526.0
7,1 AV,01/04/2021,14:00-22:00,183271,01/03/2021,182400.0,871.0
...,...,...,...,...,...,...,...
103132,ZEREGA AV,04/01/2021,14:00-22:00,39,03/31/2021,39.0,0.0
103133,ZEREGA AV,04/01/2021,22:00-06:00,39,03/31/2021,39.0,0.0
103134,ZEREGA AV,04/02/2021,06:00-14:00,39,04/01/2021,39.0,0.0
103135,ZEREGA AV,04/02/2021,14:00-22:00,39,04/01/2021,39.0,0.0
103136,ZEREGA AV,04/02/2021,22:00-06:00,39,04/01/2021,39.0,0.0

In [42]:
station_turnstiles_interval = turnstiles_interval.groupby(["STATION", "DATE", "INTERVAL"])["DAILY_ENTRIES"].sum().reset_index()
station_turnstiles_interval.head(10)

  STATION        DATE     INTERVAL  DAILY_ENTRIES
0    1 AV  01/03/2021  06:00-14:00          590.0
1    1 AV  01/03/2021  14:00-22:00          494.0
2    1 AV  01/03/2021  22:00-06:00          420.0
3    1 AV  01/04/2021  06:00-14:00          526.0
4    1 AV  01/04/2021  14:00-22:00          871.0
5    1 AV  01/04/2021  22:00-06:00          950.0
6    1 AV  01/05/2021  06:00-14:00          942.0
7    1 AV  01/05/2021  14:00-22:00          911.0
8    1 AV  01/05/2021  22:00-06:00          928.0
9    1 AV  01/06/2021  06:00-14:00          936.0

In [44]:
station_interval = station_turnstiles_interval \
                    .groupby(["STATION", "INTERVAL"], as_index=False)["DAILY_ENTRIES"].sum()
station_interval.rename(columns= {'DAILY_ENTRIES':'ENTRIES'}, inplace=True)
station_interval

        STATION     INTERVAL   ENTRIES
0          1 AV  06:00-14:00  624719.0
1          1 AV  14:00-22:00  617705.0
2          1 AV  22:00-06:00   78046.0
3        103 ST  06:00-14:00   58445.0
4        103 ST  14:00-22:00   58654.0
...         ...          ...       ...
1129    YORK ST  14:00-22:00   33202.0
1130    YORK ST  22:00-06:00   32604.0
1131  ZEREGA AV  06:00-14:00       0.0
1132  ZEREGA AV  14:00-22:00       0.0
1133  ZEREGA AV  22:00-06:00       0.0

[1134 rows x 3 columns]

In [108]:
#groupby multindex for each intervals during Jan 2 - Apr 2
#station_interval.set_index(['STATION', 'INTERVAL'], inplace=True)
#station_interval

                       DAILY_ENTRIES
STATION   INTERVAL
1 AV      00:00-04:00        78615.0
          04:00-08:00        78625.0
          08:00-12:00       613486.0
          12:00-16:00       624568.0
          16:00-20:00        78685.0
...                              ...
ZEREGA AV 04:00-08:00            0.0
          08:00-12:00          386.0
          12:00-16:00            0.0
          16:00-20:00            0.0
          20:00-24:00            0.0

[2268 rows x 1 columns]

In [45]:
top_station = (station_interval
    .groupby(["STATION"])
    .ENTRIES.sum()
    .reset_index()
    .sort_values("ENTRIES", ascending=False))
top_station.rename(columns= {'ENTRIES':'TOTAL_ENTRIES'}, inplace=True)
top_station

             STATION  TOTAL_ENTRIES
182   CHRISTOPHER ST     82207755.0
351  THIRTY THIRD ST     69900784.0
258   JOURNAL SQUARE     66367991.0
184       CITY / BUS     66253173.0
235     GROVE STREET     57997890.0
..               ...            ...
329    RIT-ROOSEVELT            0.0
332  ROCKAWAY PARK B            0.0
333  ROOSEVELT ISLND            0.0
338       SIMPSON ST            0.0
377        ZEREGA AV            0.0

[378 rows x 2 columns]

In [46]:
merged_station = pd.merge(station_interval, top_station, on='STATION')
merged_station

        STATION     INTERVAL   ENTRIES  TOTAL_ENTRIES
0          1 AV  06:00-14:00  624719.0      1320470.0
1          1 AV  14:00-22:00  617705.0      1320470.0
2          1 AV  22:00-06:00   78046.0      1320470.0
3        103 ST  06:00-14:00   58445.0       175319.0
4        103 ST  14:00-22:00   58654.0       175319.0
...         ...          ...       ...            ...
1129    YORK ST  14:00-22:00   33202.0        98563.0
1130    YORK ST  22:00-06:00   32604.0        98563.0
1131  ZEREGA AV  06:00-14:00       0.0            0.0
1132  ZEREGA AV  14:00-22:00       0.0            0.0
1133  ZEREGA AV  22:00-06:00       0.0            0.0

[1134 rows x 4 columns]

In [47]:
merged_station.sort_values("TOTAL_ENTRIES", ascending=False, inplace=True)
merged_station2 = merged_station.iloc[:30]
merged_station2
#merged_station2 = merged_station.iloc[:42]
#merged_station2

              STATION     INTERVAL     ENTRIES  TOTAL_ENTRIES
546    CHRISTOPHER ST  06:00-14:00  26318692.0     82207755.0
547    CHRISTOPHER ST  14:00-22:00  25551467.0     82207755.0
548    CHRISTOPHER ST  22:00-06:00  30337596.0     82207755.0
1053  THIRTY THIRD ST  06:00-14:00  25643415.0     69900784.0
1054  THIRTY THIRD ST  14:00-22:00  20677702.0     69900784.0
1055  THIRTY THIRD ST  22:00-06:00  23579667.0     69900784.0
775    JOURNAL SQUARE  14:00-22:00  28157300.0     66367991.0
776    JOURNAL SQUARE  22:00-06:00  19227854.0     66367991.0
774    JOURNAL SQUARE  06:00-14:00  18982837.0     66367991.0
552        CITY / BUS  06:00-14:00  19996767.0     66253173.0
553        CITY / BUS  14:00-22:00  24120293.0     66253173.0
554        CITY / BUS  22:00-06:00  22136113.0     66253173.0
705      GROVE STREET  06:00-14:00  22678024.0     57997890.0
707      GROVE STREET  22:00-06:00  19094490.0     57997890.0
706      GROVE STREET  14:00-22:00  16225376.0     57997890.0
640    EXCHANGE PLACE  14:00-22:00  15322820.0     44559577.0
639    EXCHANGE PLACE  06:00-14:00  15469945.0     44559577.0
641    EXCHANGE PLACE  22:00-06:00  13766812.0     44559577.0
52        14TH STREET  14:00-22:00  11990594.0     44045531.0
51        14TH STREET  06:00-14:00  15523844.0     44045531.0
53        14TH STREET  22:00-06:00  16531093.0     44045531.0
895      NEWARK BM BW  14:00-22:00  17536294.0     43103055.0
896      NEWARK BM BW  22:00-06:00  14152101.0     43103055.0
894      NEWARK BM BW  06:00-14:00  11414660.0     43103055.0
942      PATH NEW WTC  06:00-14:00  12596760.0     39801200.0
944      PATH NEW WTC  22:00-06:00  12514034.0     39801200.0
943      PATH NEW WTC  14:00-22:00  14690406.0     39801200.0
1051        THIRTY ST  14:00-22:00  11307208.0     38759545.0
1052        THIRTY ST  22:00-06:00  15281087.0     38759545.0
1050        THIRTY ST  06:00-14:00  12171250.0     38759545.0

# Barplot of Total Entries for each Interval (Top 10 Stations)

In [86]:
plt.figure(figsize=(10,6))
sns.set_style("whitegrid")


chart = sns.barplot(x='STATION', y='ENTRIES', data=merged_station2, hue='INTERVAL', palette="deep")
chart.set_xticklabels(chart.get_xticklabels(), rotation=45, horizontalalignment='right')

chart.set(xlabel='Station', ylabel='Total Entries', title = 'Total Entries for each Interval(Top 10 Stations)')

plt.title('Total Entries for each Interval(Top 10 Stations)', fontsize=16)
;

''